.page-wrapper {
    max-width: 1280px;
    margin: 0 auto; 
    font-family: Roboto;
}

.ramda-js {
    color:#4BCAFF;
    font-size: 80px;
    text-align: left;
    text-decoration: none;
}

.black {
    color:#000;
}

.header-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav > ul.header-list > li {
    text-align: center;
    margin: 38px 0 48px;
    background-color: #35444F;
    border-left: 1px solid #fff;
    padding: 26px 33px 19px 32px;
}

nav > ul.header-list > li > a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px; 
}

nav > ul.header-list > li:first-child,
nav > ul.header-list > li:last-child {
    flex-grow: 1;
}

nav > ul.header-list > li:hover {
    background-color: #222F3A;
}

.section {
    display: flex;
    flex-direction: row;
}

.section-list {
    display: flex;
    width: 344px;
    height: 399px;
    flex-direction: column;
    justify-content: center;
}

nav > ul.section-list > li {
    border-right: 1px solid #495863;
    border-left: 1px solid #495863;
    padding: 25px 82px 26px 42px;
}

nav > ul.section-list > li > a {
    text-decoration: none;
    color: #495863;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
}

nav > ul.section-list > li:first-child {
    border-top: 1px solid #495863;
}

nav > ul.section-list > li:last-child {
    border-bottom: 1px solid #495863;
}

nav > ul.section-list > li:hover {
    color:#000;
    background: #DBDBDB;
    text-align: center;
}

.article {
    display: flex;
    margin: 0 0 54px 52px;
    flex-direction: column;
    justify-content: center;
}

.scale{
    border: 1px solid #495863;
}

.article-photo {
    padding: 75px 268px 73px 287px;
    width: 320px;
    height: 381px;
    transition: 1s;
}

.article-photo:hover {
    transform: scale(1.1); 
}

.article-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    padding-top: 34px;
}   

.footer-list {
    display: flex;
    justify-content: center;
}

nav > ul.footer-list > li {
    background: rgba(99, 105, 110, 0.48);
    padding: 20px 10px 21px 20px;
    color: #0C1927;
    font-size: 28px;
    line-height: 28px;
}

nav > ul.footer-list > li > a {
    text-decoration: none;
    color: #0C1927;
    font-size: 28px;
    line-height: 28px;
}

nav > ul.footer-list > li:last-child {
    padding-left: 135px;
} 

nav > ul.footer-list > li:first-child {
    flex-grow: 1;
}

nav > ul.footer-list > li:hover:not(:last-child) {
    color: #3181A6;
    text-decoration: underline;
}

